<div class="py-32 max-w-2xl m-auto text-center flex flex-col items-center justify-center">
  <h1 class="mb-2">Welcome</h1>
  <div class="mb-6 text-gray-700 leading-normal text-xl" data-controller="hello"></div>
</div>