<div class="py-32 max-w-2xl m-auto text-center flex flex-col items-center justify-center">
  <article class="prose lg:prose-sm">
    <h1 class="mb-2">Welcome</h1>
    <div class="mb-6 antialiased text-gray-900" data-controller="hello"></div>
    <p>
      This page is found in app/views/static/index.html
    </p>
  </article>
</div>
